[submodule "Data_Visualization/Plotly/candle_stick"]
	path = Data_Visualization/Plotly/candle_stick
	url = https://github.com/tung2921/plotly_candlestickplot
[submodule "SQL-Python"]
	path = SQL-Python
	url = https://github.com/tung2921/SQL-Python.git
